# Do not change these values if you do not know what you are doing!

# General
export ROOT_PATH=$(pwd)
DEFAULT_RUNTIME=86400
WRITER="Nima Sayadi"
VERSION="v0.3"

# Colors
BLUE_BG="\e[44m"
BLUE_TXT="\e[34m"
GREEN_BG="\e[102m"
GREEN_TXT="\e[92m"
RED_BG="\e[41m"
RED_TXT="\e[31m"
PURPLE_BG="\e[45m"
PURPLE_TXT="\e[35m"
BLACK_TXT="\e[30m"
COLOR_RESET="\e[0m"

# Tool Control
## N_THREADS - You need to change this based on the number of the patterns that you load for sweeping
## Note 1: You should not change it for single-sweeping if you want to compare the same patterns e.g. you have 4 pattern json files, you deploy 4 threads,
### you then need to keep it 4 for the single sweeping as well and merge the patterns into 1 pattern file.
## Note 2: if you want to just do a normal sweeping, set it to 1000 to automatically detect max threads on the system.
## Note 3: If you want to deploy all threads on same pattern set it to 1000 to automatically detect max threads on the system and only store 1 json pattern.
export N_THREADS=20